#Custom Config with minimal tweaks (safe)
registryTweaks = 1
installPackages = 1
gpTel = 1
debloatSX = 1
opblackTheme = 1
opROFSW = 1
opremoveMouseSoundSchemes = 1
opremoveNetworkIcon = 1
opDisablePowerShellLogs = 1
opFastShutdownRestart = 1
opBetterW32Time = 1
conTakeOwn = 1
conFavorites = 1
conCustomizeFolder = 1
conGiveAccess = 1
conOpenTerm = 1
conRestorePrev = 1
conPrint = 1
conSend = 1
conShare = 1
conTroubleshootComp = 1
conIncludeLibrary = 1
servicesManual = 1
showTrayIcons = 1
removeQuickSettingTiles = 1
disableNotepadTabs = 1
hideSettingsAds = 1
