#Custom Config Created 06-20-25 for Windows 10
installPackages = 1
registryTweaks = 1
scheduledTasks = 1
gpDefender = 1
gpUpdates = 1
gpTel = 1
disableServices = 1
debloatAll = 1
usePowerPlan = 1
removeallPlans = 1
opblackTheme = 1
opROFSW = 1
opremoveMouseSoundSchemes = 1
opremoveQuickAccess = 1
opremoveNetworkIcon = 1
opDisablePowerShellLogs = 1
opGameBarPopup = 1
opFastShutdownRestart = 1
opRemoveBackupApp = 1
opBetterW32Time = 1
connewFiles = 1
consnipping = 1
conTakeOwn = 1
conFavorites = 1
conCustomizeFolder = 1
conGiveAccess = 1
conOpenTerm = 1
conRestorePrev = 1
conPrint = 1
conSend = 1
conShare = 1
conExtractAll = 1
conTroubleshootComp = 1
conIncludeLibrary = 1
